.navbackground{
    background: linear-gradient(to right, #66ccff 0%, #ff99cc 100%);
}
.hometitle{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    font-size: 4vh;
    font-weight: bold;

}
.logintitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
    margin-left: 30vh;
    font-size: 4vh;
    font-weight: bold;

}
.signupform{
    width: 35vw;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.addItem{
    display: grid;
    place-items: center;
    
}
.inputTodo{
    margin-top: 10px;
    width: 40vw;   
    height: 6vh;
    border-radius: 30px;
    text-align: center;
}
.inputTodo:focus{
    outline: none;
}
.addbutton{
    border-color:rgba(64, 233, 177, 0.589) ;
    margin-top: 10px;
    height: 5vh;
    width: 15vw;
    border-radius: 40px;
    background-color: rgba(64, 233, 177, 0.589);
}
.markdone{
    margin-left: 42%;
    border-color:rgba(64, 233, 177, 0.589) ;
    margin-top: 10px;
    height: 5vh;
    width: 15vw;
    border-radius: 40px;
    background-color: rgba(64, 233, 177, 0.589);
}


#default_user{
    font-size: 12px;

}

.logo{
    font-size: 4vh;
    font-weight: bold;
}
.logo-content{
    font-size: 3vh;
    font-weight: bold;
}
.login-info{
    width:30vw;
}

    
    @media screen and (max-width: 480px) {
        *{
            scroll-behavior: smooth;

        }
        .logo{
            font-size: 5vh;
            font-weight: bold;
        }
        .btntoggler{
            border: none;
        }
        .logo-content{
            font-size: 2vh;
            font-weight: bold;
        }
        .inputTodo{
            margin-top: 10px;
            width: 80vw;   
            height: 6vh;
            border-radius: 30px;
            text-align: center;
        }

        .hometitle{
            display: flex;
            justify-content: center;
            margin-top: 10vh;
            font-size: 3vh;
            font-weight: bold;
        
        }
        .logintitle{
            margin-left: 3vh;
            margin-top: 1vh;
            font-size: 3.5vh;
            font-weight: bold;
        
        }
        .signupform{
            margin-left: 10px;
           
            width: 80vw;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid black;
        }
        .login-info{
            font-size: 25px;
            width:70vw;
        }
        .username{
            font-size: 25px;
        }

      }


